@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import "tailwindcss";

html,
body {
  font-family: 'Montserrat', sans-serif;
}

/* DO NOT override colors globally */
/* Let Tailwind utilities control color, bg, borders */

/* Optional: smooth text */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}